[Unit]
Description = Space Engineers Server in Docker
Requires = docker.service
After = docker.service

[Service]
User = se-server
Group = se-server

Restart = always
StandardInput = null
StandardOutput = journal
StandardError = journal

ExecStart = /usr/bin/docker run -t \
	-p 25626:25626/udp \
	-v /home/se-server/games/space-engineers/data:/host \
	--name space_engineers_server \
	se-server/space-engineers
ExecStop = /usr/bin/docker stop space_engineers_server ; \
	/usr/bin/docker rm -f space_engineers_server ; \
	/bin/chmod 666 /dev/null

[Install]
WantedBy = local.target
